<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.delivery.dashboard.baskets.BasketsMapper">
    
<resultMap id="BasketDeliveryMap" type="com.delivery.dashboard.domain.Baskets">
    <result property="temperature" column="temperature"/>
    <result property="humidity" column="humidity"/>
    <result property="delivery_latitude" column="delivery_latitude"/>
    <result property="delivery_longitude" column="delivery_longitude"/>
    <result property="order_id" column="order_id"/>
</resultMap>

     <select id="getBasketDataWithLocation" resultMap="BasketDeliveryMap">
        SELECT
            b.basket_id,
            b.product_id,
            b.delivery_id,
            b.temperature,
            b.humidity,
            d.order_id,
            d.latitude AS delivery_latitude,
            d.longitude AS delivery_longitude
        FROM
            Baskets b
        JOIN
            Deliveries d ON b.delivery_id = d.delivery_id;
    </select>

</mapper>